/******************************************************************

1030px and up

******************************************************************/

.home-page {
  .courses {
    .course {
      // margin: 0 15px;
      // width: 250px;
      &:first-child {
        // margin-left: auto;
      }
      &:last-child {
        // margin-right: auto;
      }
    }
  }
  .course-details {
    .course-swiper-container {
    	 width: 750px;
    
    }
  }
}
