/******************************************************************

481px and up

******************************************************************/


/*********************
POSTS & CONTENT STYLES
*********************/

.home-page {
  .intro-banner {
    .main-text {
      font-size: 1.6em;
    }
  }
  
}
