/******************************************************************

Typography

******************************************************************/

// Web fonts definitions goes here as well


/* ===============================
     fonts
   =============================== */
$font: "Open Sans", Helvetica, Arial, sans-serif;
$font-italic:  Cambria, Times New Roman, Times, serif;
$font-bold: Helvetica, Arial, sans-serif;
$font-semibold: Helvetica, Arial, sans-serif;
$font-extrabold: Helvetica, Arial, sans-serif;
$font-extralightitalic: Helvetica, Arial, sans-serif;

/* ===============================
     sizes
   =============================== */
$large: 28px;
$medium: 20px;
$small: 14px;

/* ===============================
     weights
   =============================== */
$thin: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 900;

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
  font-family: sans-serif;
}

