<section class="home-page container-fluid">
  <div class="top-bg">
  </div>
  <div class="intro-banner">
    <img src="images/innerLogo.svg" class="logo">
    <h1 class="main-text">
      trading
      <br>
      <span>with</span>
      <br> machine learning
      <br>
      <span>(3 - course bundle)</span>
    </h1>
    <p class="sub-info">Learn Python for finance from scratch with lots of interactive coding exercises and state of the art Jupyter notebook.
      Learn to code and backetest your own</p>
    <button class="primary enroll-btn">
      enroll now
    </button>
  </div>
  <div class="courses row justify-content-center">
    <div class="course col-10 col-sm-6 col-md-3 col-lg-3">
      <img src="images/ITMLR.png">
      <span>course 1</span>
    </div>
    <div class="course col-10 col-sm-6 col-md-3 col-lg-3">
      <img src="images/MLR.png">
      <span>course 2</span>
    </div>
    <div class="course col-10 col-sm-6 col-md-3 col-lg-3">
      <img src="images/MLC.png">
      <span>course 3</span>
    </div>
  </div>
  <hr class="section-breaker">
  <div class="course-details">
    <h1 class="main-text">what will you learn?</h1>
    <!-- Slider main container -->
    <div class="course-swiper-container">
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide course" ng-repeat="course in main.courses">
            <p class="chapter">course {{$index+1}}</p>
            <h2 class="title">{{course.courseName}}</h2>
            <div class="section" ng-repeat="section in course.sections">
              <p class="section-title">
                <label>Section {{section.section_no}}:</label> {{section.sectionName}}</p>
              <p class="desc">
                <span ng-repeat="unit in section.units">{{unit.unit_name}} </span>
              </p>
              <hr ng-if="!$last">
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"> </div>
      <div class="swiper-button-next"> </div>
    </div>
  </div>
  <div class="course-features">
    <h2 class="title">Course features</h2>
    <div class="feature-container row justify-content-center">
      <div class="feature col-12 col-sm-5 col-md-4 col-lg-3">
        <div class="thumb">
          <img src="images/interactive.png">
        </div>
        <div class="label">
          <span>interatcive coding exercise</span>
        </div>
      </div>
      <div class="feature col-12 col-sm-5 col-md-4 col-lg-3">
        <div class="thumb">
          <img src="images/downloadable-code.png">
        </div>
        <div class="label">
          <span>downloadable startergy code</span>
        </div>
      </div>
      <!-- </div>
    <div class="feature-container"> -->
      <div class="w-100 d-none d-md-block"></div>

      <div class="feature col-12 col-sm-5 col-md-4 col-lg-3">
        <div class="thumb">
          <img src="images/certification.png">
        </div>
        <div class="label">
          <span>certification form quantinsti
            <sup>&#9400;</sup> & MCX</span>
        </div>
      </div>
      <div class="feature col-12 col-sm-5 col-md-4 col-lg-3">
        <div class="thumb">
          <img src="images/infinite.png">
        </div>
        <div class="label">
          <span>lifetime course access</span>
        </div>
      </div>
    </div>
  </div>
</section>
